*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(206, 194, 194);
}

/* Header Styling */
#headerStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e0404;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  color: #fff;
}

/* Logo Section */
#logoContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logoText{
  font-size: 1.5rem;
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#welcomeText {
  font-size: 1.7rem;
  color: #4e0404;
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.dashboard-card {
  background-color: #f3f0f0;
  padding: 1rem;
  border-left: 5px solid #4e0404;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.dashboard-card:hover {
  background-color: #eaeaea;
  transform: translateY(-2px);
}

.dashboard-card h3 {
  margin-bottom: 0.5rem;
  color: #4e0404;
}

.dashboard-card p {
  font-size: 0.95rem;
  color: #333;
}

/* Footer */
#footerStyle {
  background-color: #4e0404;
  color: #ffffff;
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 0.95rem;
  border-top: 2px solid #fff;
}

#footerPar{
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

#footerStrong{
  font-weight: 600;
}
